<li class="comics-item">
    <article>
        <div class="comics-summary">
            <div class="comics-image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
            <div class="comics-details">
                <h3>{{ title }}</h3>
                <h2> Total number of episodes: {{ episodes }}</h2>
            </div>
        </div>
        <div class="comics-actions">
            <a href="{% url 'comics-details' slug %}" class="btn">More Details</a>
        </div>
    </article>
</li>