{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    {{ comic_title }}
{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'comicapp/styles/comics-details.css'%}">
{% endblock %}

{% block main_heading %}
    {{ comic_title }}
{% endblock %}

{% block body %}
        <article>
            <img src="" alt="">

            <section id="release">
                <h2>Date of release</h2>
                <h3>Next episode of comic will be released on: (DATE)</h3>
            </section>

            <section id="details"></section>
                <h2>What's the episode about</h2>
                <p> {{comic_description}}</p>
        </article>
{% endblock %}
