{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    {{ comic.title }}
{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'comicapp/styles/comics-details.css'%}">
{% endblock %}

{% block main_heading %}
    {{ comic.title }}
{% endblock %}

{% block body %}

{% if comic_found %}
    <article>
        <img id="main-image" src="{{ comic.image.url }}" alt="{{ comic.title }}">

        <section id="release">
            <h2>Date of release</h2>
            <h3>Next episode of comic will be released on: {{ comic.date }}</h3>
        </section>

        <section id="details"></section>
        <h2>What's the episode about</h2>
        <p> {{comic.description}}</p>
        <section id="subscription">
            <h3>Get notified before release date or when stocks are renewed</h3>
            <form action="{{ % url 'comics-details' comics.slug % }}" method="POST">
                <!-- attack prevention -->
                {% csrf_token %}
                <p>Type in your email:</p>
                <ul>
                    {{ form.as_ul }}
                </ul>
                <div id="subscription-actions">
                    <button>Subscribe</button>
                </div>
            </form>
        </section>
    </article>
{% else %}
<p>no comics found under this slug</p>
{% endif %}

{% endblock %}
