{% extends 'base/base.html' %}

{% load static %}

{% block title %}All Comics{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'comicapp/styles/all-comics.css'%}">
{% endblock %}

{% block main_heading %}
something main_heading
{% endblock %}

{% block header_content %}
something header_content
{% endblock %}

{% block body %}
        <section>
            <h2>Upcoming comics</h2>
            <ol>
                {% for comics_item in comics %}
                    {% include 'includes/comics_item.html' with title=comics_item.title episodes='12' slug=comics_item.slug %}
                {% endfor %}
            </ol>
        </section>
{% endblock %}