{% extends 'base/base.html' %}

{% load static %}

{% block title %}All Comics{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'comicapp/styles/all-comics.css'%}">
{% endblock %}

{% block main_heading %}
something main_heading
{% endblock %}

{% block header_content %}
something header_content
{% endblock %}

{% block body %}
        <section>
            <h2>Upcoming comics</h2>
            <ol>
                {% for comics_item in comics %}
                    <li class="comics-item">
                        <article>
                            <div class="comics-summary">
                                <div class="comics-image">
                                    <img src="" alt="">
                                </div>
                                <div class="comics-details">
                                    <h3>{{ comics_item.title }}</h3>
                                    <h2> Total number of episodes: {{ comics_item.episodes }}</h2>
                                </div>
                            </div>
                            <div class="comics-actions">
                                <a href="{% url 'comics-details' comics_item.slug %}" class="btn">More Details</a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ol>
        </section>
{% endblock %}